.each-day{
    .each-day-content{
        padding: 20px;
        width: 300px;
        gap:10px;
        border-radius:40px;
        color: white;
        
        box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.297);
        background: linear-gradient(8deg,rgb(71, 71, 71) 38%,transparent 0),radial-gradient(farthest-corner at 0 0,rgb(188, 72, 246) 70%,rgb(216, 161, 244) 0);
        text-align: center;
        
        .day{
            font-size: var(--h2-font-size);
            font-family: var(--h4-font);
            
        }
        
        .image{

            height: 100px;
            img{
                height: 100%;
            }
            
            
            
        }
        .data{
            text-align: left;
            font-family: var(--h1-font);
            font-size: var(--small-font-size);
            
        }

    }
}


@media (max-width:480px){
    .each-day{
        .each-day-content{
            .image{

                height: 120px;
                img{
                    height: 100%;
                }
                
                
                
            }
        }}
}