.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 100vw;
  
  background: url('./assets/bgimg2.jpg');
  
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center ;

  padding-top: var(--mt2);
  gap: 20px;
  z-index: 0;

  .search {
    height: 40px;

    input[type="text"] {
      font-size: var(--p-font-size);
      font-family: var(--p-font);
      padding: 0px 20px;

      border: 3px solid var(--lighter-col);

      height:45px;
      width: 30%;

      border-radius: 30px;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;

      transition: all 0.2s ease-in;
      outline: none;
      
      &:focus {
        border: 3px solid var(--light-col);
      }
    }
    i {
      overflow: hidden;

      border-left: 0px;
      border: 1px solid var(--lighter-col);
      border-radius: 30px;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;

      padding: 4px 8px;
      height: 45px;
      width: 60px;
      color: white;
      background-color: var(--lighter-col);
    }
  }
}


@media (max-width:480px) {
  
  .app {
    .search{
      input[type="text"]{
        width: 80%;
      }
    }
  }
}
