@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Domine:wght@500&family=Merriweather&family=Playfair+Display:wght@500&family=Poppins:wght@400;500&family=Roboto+Slab:wght@500&family=Salsa&display=swap');
::-webkit-scrollbar{
  display: none;
}
*{
  margin: 0;padding: 0;
  box-sizing: border-box;
  
}
html{
  -webkit-tap-highlight-color: transparent;
}
:root{
  --prim-col:blue;

  
  --light-col: hsl(0, 0%, 42%);
  --lighter-col: hsl(0, 0%, 25%);

  --shadow-col: hsl(0, 0%, 89%);

  --h1-font-size: 2.8rem;
  --h2-font-size: 2.5rem;
  --h4-font-size: 2rem;
  --h6-font-size: 1.5rem;
  --p-font-size: 1.2rem;
  --small-font-size: 1.1rem;
  --smaller-font-size: 0.8rem;

  --btn-font-size: 1.2rem;

  --uil-font-size: 2rem;
  --uil2-font-size: 1.6rem;

  --h1-font: "Roboto Slab", serif;
  --h2-font: 'Playfair Display', serif;
  --h4-font:  'Salsa', cursive;
  --allh-font: "Merriweather", serif;
  --p-font: "Domine", sans-serif;
  --small-font:'Carter One', cursive;


  --mt:50px;
  --mt2:40px;
  --mt4:20px;
  
  --mb4:20px;

}
@media (max-width:480px){
  :root{
    --h1-font-size: 2.3rem;
    --h2-font-size: 2.5rem;
    --h4-font-size: 2rem;
    --h6-font-size: 1.1rem;
    --p-font-size: 1rem;
    --small-font-size: .95rem;
    --smaller-font-size: 0.8rem;
  
    --btn-font-size: 1.2rem;
  
    --uil-font-size: 2rem;
    --uil2-font-size: 1.6rem;
  }

}


.uil,
.fa {
  font-size: var(--uil-font-size);
}
.uil2,
.fa2 {
  font-size: var(--uil2-font-size);
}

.flex{
  display: flex;
}
.center{
  display: flex;
  align-items: center;
  
  justify-content: center;
}
.flexcol{

  display: flex;
  flex-direction: column;
}


.btn{
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.container{
  max-width: 1300px;
  height: 100%;
  margin: 0px auto;
  padding: 0px 10px;
}